{% extends 'base.html'%}
{% import 'macros.html' as macro %}
<!-- Styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="bg-info text-center py-2 rounded text-danger">Fashion Pitches</h3>
      <div id="fashion">
        {{ macro.showPitch(fashion)}}
      </div>
      <h3 class="bg-info text-center py-2 rounded text-danger">Science Pitches</h3>
      <div id="science">
        {{ macro.showPitch(science) }}
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="bg-info text-center py-2 rounded text-danger">Programming Pitches</h3>
      <div id="programming">
        {{ macro.showPitch(programming) }}
      </div>
      <h3 class="bg-info text-center py-2 rounded text-danger">Education Pitches</h3>
      <div id="education">
        {{ macro.showPitch(education) }}
      </div>
    </div>
  </div>
</div>

{% endblock%}